html body{
    font-family: "roboto";
    background-image: url("image6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

}

#nb1 .navbar-brand{
	color: #e9ecef;
    font-weight: 500;
    
}

#nb1 .nav-link{
    color: #adb5bd;
}

#nb1{
    font-size: 1.5rem;
    font-weight: 500;
}

#nb1 .nav-link:hover {
	color:  #e9ecef;
} 

.navbar.scrolled {
    background: #212529;
    transition: background 500ms;
}


#home{
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#tagline{
    color: aliceblue;
    border-left: 20px solid #adb5bd;
    font-size: 4rem;
    padding-left: 2rem;
}

.programs{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.isFlex{
    padding-left: 16rem;
}




.isForm{
    background-color: #fff;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
    opacity: 0.8;
}

input[type="text"],
input[type="date"],
input[type="email"]
input[type="password"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;

}

.heading{
    text-align: center;
}

input[type="submit"]{
    color: white;
    background-color: rgb(29, 97, 185);
    width: 100%;
    border: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

input[type="submit"]:hover{
    background-color: rgb(25, 136, 240);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}


.testimonial {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
}

.person {
    border: none
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey
}


.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px
}

.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px
}

.rowPerson {
    padding-bottom: 53px
}

.company {
    position: absolute;
    bottom: -42px
}

.fa-amazon:before {
    content: "\f270";
    font-size: 23px
}

.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px
}

.header {
    padding-top: 35px;
    padding-bottom: 50px
}





.isFooter{
    color: #adb5bd;
    background-color: #212529;
}

.leftRow{
    padding-left: 5rem;
}

.Image{
    max-width: 40%;
    padding-left: 10%;
}

.isRight{
    border-left: 3px solid #ced4da;
    padding-left: 10%;
}

.getIn{
    text-align: center;
}

.fa{
    padding-right: 10%;
}

.link{
    text-decoration: none;
    color: #6c757d;
}
.link:hover{
    color: #e9ecef;
    text-decoration: none;

}


@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .icon {
        margin-top: 20px;
        top: 0
    }
}

@media(max-width: 768px){
    .isRight{
        border-left: none;
    }
    .topBorder{
        border-top: 3px solid #e76f51;
        padding-top: 7%;
    }
    .bottomBorder{
        padding-bottom: 7%;
    }
    .isFlex{
        padding-left: 4rem;
    }
  
}